
<center></h4><font face="timesnewroman", color="orange">ALTIUS TECNOLOGYS</font></h4></center>

<font face="timesnewroman", color="green">

<h1>Quikr is India’s no.1 online classifieds platform, a place where people can connect with each other to buy or sell goods and services. Launched in 2008 with the vision for buyers and sellers to “meet online, transact offline”, today we have over 4.2 million listings and have generated over 150 million replies.

 

Headquartered in Mumbai, Quikr operates from 940 cities across India and is accessed by more than 30 million unique users and 26 million brand new customers per month. We now have over 13 categories and 170 sub-categories, with the most popular being mobile phones and electronics, real estate, cars and bikes.

 

At Quikr, we have created an online community which is simple and secure. We are constantly innovating so that users can buy and sell in the easiest and most convenient way possible. We recognized that getting a fair price could be a hurdle for our customers,and we developed a Maximum Selling Price (MSP) calculator to help users estimate a reasonable price range. We also pioneered the Missed Call service in India, enabling first time or non internet users in India to give us a missed call so that we can help them post an ad. This way we aim to make people ‘Quikr’ users, perhaps even before they are internet users.

 

Our efforts are being recognized. In BAV® 2013 (a Brand Asset Valuator by Rediffusion-Y&R), Quikr was the only classifieds platform to be featured in the list of top ten ‘Best E-commerce Brands in India Amongst Youth’.

 

We have been fortunate to have some of the world’s best renowned investment partners with us on our journey: Kinnevik, Matrix Partners India, Omidyar Network, Norwest Venture Partners, Nokia Growth Partners, Warburg Pincus and investments by eBay Inc. as well.</h1>

 

<h2>Happy trading everyone!</h2>

</font>
 
