<div class="row">
<h1>Categories</h1>
<br>
<div class="col-sm-6">
<script type="text/javascript">
        function get_sub_a{
                $.ajax({
            type: "GET",
            url: "/products/show"

          })
       }
</script>
<% @product.each do |i|%>
<tr><%=link_to i.cat_name,product_path(i)%></tr>
    <% @ten=Product.where(:cat_name=>i.cat_name).maximum(:id)%>
    <%@ca=Product.where(:parent_id=>@ten)%>
    <br>
    <tr><%= form_tag({ controller: 'products', action: 'show' }, method: 'get') do %>
    <%= select_tag "id", options_from_collection_for_select(@ca, "id", "cat_name"),{:include_blank=>"--Select--"}%></tr>
          <%= submit_tag "view"%>

       <% end %> 

<% end %>
</div>   </div>
               
