
<% $taxo1.each do |i|%>
<table>
<%if i.parent_id == nil%>
          <%@l1=i.id%>

<tr><td><%= i.cat_name %></td></tr>
<% $taxo1.each do|k|%>
            <%if k.parent_id==@l1.to_s%>
<tr><td>--<%=link_to k.cat_name,product_manu_path(k.id)%></td></tr>
<%end%>
<%end%>
<%end%>
</table>
<%end%>
